In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import numpy as np
import pandas as pd
import datetime

In [2]:
mobility_df = pd.read_csv('/content/drive/MyDrive/qure.ai/us-mobility copy.csv') 
state_df = pd.read_csv('/content/drive/MyDrive/qure.ai/covid-19-state-level-data copy.csv')
death_df = pd.read_csv('/content/drive/MyDrive/qure.ai/confirmed-covid-19-deaths-in-us-by-state-and-county copy.csv')

In [3]:
mobility_df.columns

Index(['state', 'county', 'date', 'retail', 'grocery_and_pharmacy', 'parks',
       'transit_stations', 'workplaces', 'residential'],
      dtype='object')

In [4]:
state_df.columns

Index(['Unnamed: 0', 'date', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [5]:
death_df.columns

Index(['Unnamed: 0', 'county_fips', 'county_name', 'state_name', 'state_fips',
       'date', 'deaths', 'lat', 'long', 'geometry'],
      dtype='object')

In [6]:
# dropping columns from state_df  and death_df

state_df.drop('Unnamed: 0', axis=1, inplace=True)
death_df.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
# creating the first table for mobility

mobility = mobility_df[['county', 'retail', 'date', 'retail', 'grocery_and_pharmacy', 'parks', 'transit_stations', 'workplaces', 'residential']]

In [8]:
# creating the 2nd table for state-wise cases and deaths

state_wise_cases = state_df[['state', 'cases', 'deaths', 'date']]

In [9]:
# creating the 3rd table for death data county-wise

county_wise_death = death_df[['county_name', 'date', 'deaths', 'lat', 'long', 'geometry']]

In [10]:
# creating the 4th table for state-to-fips mapping

state_to_fips = death_df[['state_fips', 'state_name']]

In [11]:
# creating the 5th table for county-to-fips mapping

county_to_fips = death_df[['county_fips', 'county_name', 'state_name']]

In [12]:
county_to_fips.drop_duplicates(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [13]:
county_to_fips.head()

     county_fips            county_name state_name
0              0  Statewide Unallocated         AL
188         1001         Autauga County         AL
376         1003         Baldwin County         AL
564         1005         Barbour County         AL
752         1007            Bibb County         AL

In [14]:
mobility.head()

,county,retail,date,retail,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,Total,6.0,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,Total,7.0,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,Total,6.0,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,Total,0.0,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,Total,2.0,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0

In [15]:
state_wise_cases.head()

        state  cases  deaths        date
0  Washington      1       0  2020-01-21
1  Washington      1       0  2020-01-22
2  Washington      1       0  2020-01-23
3    Illinois      1       0  2020-01-24
4  Washington      1       0  2020-01-24

In [16]:
state_to_fips.drop_duplicates(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [17]:
county_to_fips.drop_duplicates(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [18]:
#mobility.to_csv('/content/drive/MyDrive/qure.ai/mobility.csv', index=False)
#state_wise_cases.to_csv('/content/drive/MyDrive/qure.ai/state_wise_cases.csv', index=False)
# state_to_fips.to_csv('/content/drive/MyDrive/qure.ai/state_to_fips.csv', index=False)
# county_to_fips.to_csv('/content/drive/MyDrive/qure.ai/county_to_fips.csv', index=False)
# county_wise_death.to_csv('/content/drive/MyDrive/qure.ai/county_wise_death.csv', index=False)

In [19]:
county_to_fips.head()

     county_fips            county_name state_name
0              0  Statewide Unallocated         AL
188         1001         Autauga County         AL
376         1003         Baldwin County         AL
564         1005         Barbour County         AL
752         1007            Bibb County         AL

# creating table for slack bot

In [20]:
county_wise_death.head()

             county_name        date  deaths  lat  long geometry
0  Statewide Unallocated  2020-01-22       0  NaN   NaN      NaN
1  Statewide Unallocated  2020-01-23       0  NaN   NaN      NaN
2  Statewide Unallocated  2020-01-24       0  NaN   NaN      NaN
3  Statewide Unallocated  2020-01-25       0  NaN   NaN      NaN
4  Statewide Unallocated  2020-01-26       0  NaN   NaN      NaN

In [21]:
slack = pd.merge(county_wise_death, county_to_fips, on='county_name')

In [22]:
slack.isna().sum()

county_name         0
date                0
deaths              0
lat            470564
long           470564
geometry       470564
county_fips         0
state_name          0
dtype: int64

In [23]:
slack.head()

,county_name,date,deaths,lat,long,geometry,county_fips,state_name
0,Statewide Unallocated,2020-01-22,0,NaN,NaN,NaN,0,AL
1,Statewide Unallocated,2020-01-22,0,NaN,NaN,NaN,0,AK
2,Statewide Unallocated,2020-01-22,0,NaN,NaN,NaN,0,AZ
3,Statewide Unallocated,2020-01-22,0,NaN,NaN,NaN,0,AR
4,Statewide Unallocated,2020-01-22,0,NaN,NaN,NaN,0,CA

In [24]:
#creating a dictionary to map codes to name

us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
    
# invert the dictionary
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))

In [25]:
slack.replace({'state_name': abbrev_to_us_state}, inplace=True)

In [26]:
slack.head()

,county_name,date,deaths,lat,long,geometry,county_fips,state_name
0,Statewide Unallocated,2020-01-22,0,NaN,NaN,NaN,0,Alabama
1,Statewide Unallocated,2020-01-22,0,NaN,NaN,NaN,0,Alaska
2,Statewide Unallocated,2020-01-22,0,NaN,NaN,NaN,0,Arizona
3,Statewide Unallocated,2020-01-22,0,NaN,NaN,NaN,0,Arkansas
4,Statewide Unallocated,2020-01-22,0,NaN,NaN,NaN,0,California

In [40]:
slack['date'] = pd.to_datetime(slack['date'])

In [41]:
type(slack['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [46]:
slack = slack[slack['date'].dt.month==3]

# DATA ON DEATHS PER STATE IN THE MONTH OF MARCH

In [78]:
new = slack.groupby(['state_name'])['deaths'].sum().to_frame().reset_index()

In [79]:
new.head()

   state_name  deaths
0     Alabama    2008
1      Alaska    1173
2     Arizona    1257
3    Arkansas    2345
4  California    3616

In [83]:
slack.groupby(['state_name', 'county_name'])['deaths'].sum().to_frame().reset_index()

     state_name        county_name  deaths
0       Alabama     Autauga County       0
1       Alabama     Baldwin County       2
2       Alabama     Barbour County       0
3       Alabama        Bibb County       0
4       Alabama      Blount County       0
...         ...                ...     ...
3190    Wyoming  Sweetwater County       0
3191    Wyoming       Teton County       0
3192    Wyoming       Uinta County       0
3193    Wyoming    Washakie County       0
3194    Wyoming      Weston County       0

[3195 rows x 3 columns]